{{#each post}}
  <article class="post">
    <img src="{{userAvatar}}" class="userAvatar" />
    <h3>{{username}}</h3>
    {{#if img}}
      <img src="{{img}}" class="section-img" />
    {{/if}}
    {{#if video}}
      <video src="{{video}}" class="video"></video>
    {{/if}}
    <p>{{text}}</p>
    <p class="timestamp">{{timestamp}}</p>
  </article>
{{/each}}