{{#each settings}}
  <div class="settings">
    <img src="{{userAvatar}}" class="userAvatar" />
    <h3>{{username}}</h3>
    <button href="{{{link_change_avatar}}}">Change avatar</button>
    <button href="{{{link_change_username}}}">Change username</button>
    <button href="{{{link_change_password}}}">Change password</button>
  </div>
{{/each}}