<div class="row align-center mb-5">
  <div class="col-md-6">
    <img src="{{{profilePicture}}}" />
    <img src="{{{backgroundPicture}}}" />
    <p>{{{caption}}}</p>
    <a>{{{location}}}</a>
    <ul>
      <li>
        {{{followers}}}
      </li>
      <li>
        {{{following}}}
      </li>
    </ul>
    <container>
      {{{userPosts}}}
    </container>
  </div>
</div>